<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>ProductServlet</servlet-name>
        <servlet-class>Servlet.ProductServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ProductServlet</servlet-name>
        <url-pattern>/ProductServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BucatarieServlet</servlet-name>
        <servlet-class>Servlet.BucatarieServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BucatarieServlet</servlet-name>
        <url-pattern>/BucatarieServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>NarghileaServlet</servlet-name>
        <servlet-class>Servlet.NarghileaServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>NarghileaServlet</servlet-name>
        <url-pattern>/NarghileaServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>ShoppingCardServlet</servlet-name>
        <servlet-class>Servlet.ShoppingCardServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShoppingCardServlet</servlet-name>
        <url-pattern>/ShoppingCardServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>BarDeskServlet</servlet-name>
        <servlet-class>Servlet.BarDeskServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>BarDeskServlet</servlet-name>
        <url-pattern>/BarDeskServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>narghileaDeskServlet</servlet-name>
        <servlet-class>Servlet.narghileaDeskServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>narghileaDeskServlet</servlet-name>
        <url-pattern>/narghileaDeskServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>kitchenDeskServlet</servlet-name>
        <servlet-class>Servlet.kitchenDeskServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>kitchenDeskServlet</servlet-name>
        <url-pattern>/kitchenDeskServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>Servlet.HomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/HomeServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>InedxServlet</servlet-name>
        <servlet-class>Servlet.InedxServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>InedxServlet</servlet-name>
        <url-pattern>/IndexServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CheckOutServlet</servlet-name>
        <servlet-class>Servlet.CheckOutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CheckOutServlet</servlet-name>
        <url-pattern>/CheckOutServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddProducts</servlet-name>
        <servlet-class>Servlet.AddProducts</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddProducts</servlet-name>
        <url-pattern>/AddProducts</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>UpdateProducts</servlet-name>
        <servlet-class>Servlet.UpdateProducts</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UpdateProducts</servlet-name>
        <url-pattern>/UpdateProducts</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>AddUser</servlet-name>
        <servlet-class>Servlet.AddUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AddUser</servlet-name>
        <url-pattern>/AddUser</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>Admin</servlet-name>
        <servlet-class>Servlet.Admin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Admin</servlet-name>
        <url-pattern>/Admin</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RemoveUser</servlet-name>
        <servlet-class>Servlet.RemoveUser</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RemoveUser</servlet-name>
        <url-pattern>/RemoveUser</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>

</web-app>